/* screen.css */
.screen {
    display: none;
}

@media (max-width: 400px) {
    .screen {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        /* fixed is crucial */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        z-index: 10000;
        overflow: hidden;
    }

    html,
    body {
        height: 100%;
        overflow: hidden;
        /* disable scroll */
        position: fixed;
        /* prevent scroll on mobile Safari */
        width: 100%;
    }
}