.Verify-Product-Page {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    // padding: 10rem;
    gap: 2em;
    // flex-direction: column;

    >.card {
        border: 1px solid gray;
        // padding: 3rem;
        // border-radius: 1vw;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        >.verify-heading {
            background: linear-gradient(to right, #a855f7, #ec4899, #3b82f6);
            padding: 1rem;
            color: white;
            font-size: xx-large;
            width: 100%;


            >p {

                display: flex;
                align-items: center;
                gap: .5rem;
            }

        }

        >.verification-key {
            // border: 2px solid red;
            padding: 2rem;

            >div {
                border: 1px solid gray;
                padding: 1rem;
                padding: 1rem 1.5rem;
                border-radius: 1vw;

                display: flex;
                align-items: center;

                >h1 {
                    color: gray;
                    display: flex;
                    align-items: center;
                }

                >input {
                    font-size: 2rem;
                    width: 40rem;
                    padding: 10px;
                    border: none;
                    font-weight: bold;

                    &:focus {
                        outline: none;
                    }
                }

            }
        }

        >.submit-btn {
            width: 100%;
            text-align: center;

            >button {
                height: 3.5rem;
                width: 80%;
                font-size: large;
                color: white;
                background-color: green;
                border: none;
                border-radius: 8px;
            }
        }

    }
}